<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @page_title %></title>
    <meta name="keywords", content="<%= @seo_keywords %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/portfolio_nav' %>
    <main role="main">
      <!-- start of the masterhead -->
      <%= render 'shared/portfolio_masthead' %>
      <!-- end of the masterhead -->
      <!-- start of the portfolio list -->
      <div class="album py-5 bg-light">
        <div class="container">
          <%= yield %>
        </div>
      </div>
      <%= source_helper %>
      <!-- end of the portfolio list -->
    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
          <%= copyright_generator %>
        </p>
      </div>
    </footer>

  </body>
</html>